<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1
        {
            text-align: center;
        }
    </style>
</head>
<body style="background-color: aqua;">

    <h1><marquee>WELCOME</marquee></h1>
    <h1>This is first HTML page called Shopping</h1>
    <h1>This page is Renderd by using Render function of Django</h1>
    <h1>Thank YOU 🥰</h1>
    
</body>
</html>